<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>系统管理</title>
    <!--
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-treegrid/0.2.0/css/jquery.treegrid.min.css">
    -->

    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap-table/1.12.2/dist/bootstrap-table.css}" rel="stylesheet">
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/jquery-treegrid/0.2.0/css/jquery.treegrid.css}" rel="stylesheet">

</head>

<body>
<div class="container">
    <h1>树形表格 ： Table Treegrid</h1>
    <button type="button" class="btn btn-success" onclick="addParameter()" style="margin-bottom: 5px">新增参数</button>
    <table id="table"></table>


</div>

<!-- 参数模态框 -->
<div class="modal fade" id="parameterModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">参数信息</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form id="paramInfoForm" method="post">
                    <div class="form-group">
                        <label>参数类型</label>
                        <input id="paramType" name="paramType" type="text" class="form-control" placeholder="默认：String">
                        <input id="pid"  type="hidden">
                    </div>
                    <div class="form-group">
                        <label>参数名</label>
                        <input id="paramName" name="paramName" type="text" class="form-control" placeholder="例：interfaceName">
                    </div>
                    <div class="form-group">
                        <label>描述</label>
                        <input id="paramDes" name="paramDes" type="text" class="form-control" placeholder="例：表示接口名称">
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirm">确认</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>


<!-- 参数更新模态框 -->
<div class="modal fade" id="parameterModalUpdate">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">参数信息</h4>
                <button type="button"  class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form id="paramInfoUpdateForm" method="post">
                    <div class="form-group">
                        <label>参数类型</label>
                        <input id="paramTypeUpdate" name="paramType" type="text" class="form-control">
                        <input id="pidUpdate"  type="hidden">
                        <input id="idUpdate"  type="hidden">
                    </div>
                    <div class="form-group">
                        <label>参数名</label>
                        <input id="paramNameUpdate" name="paramName" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>描述</label>
                        <input id="paramDesUpdate" name="paramDes" type="text" class="form-control">
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="parameterInfoUpdateConfirm">确认</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>


</body>
<!--
<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.12.0/extensions/treegrid/bootstrap-table-treegrid.js"></script>
<script src="https://cdn.bootcss.com/jquery-treegrid/0.2.0/js/jquery.treegrid.min.js"></script>
-->

<script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
<script type="text/javascript" src="asserts/js/popper.min.js" th:src="@{/webjars/popper.js/1.11.1/dist/umd/popper.js}"></script>
<script type="text/javascript" src="asserts/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"></script>
<script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js" th:src="@{/webjars/bootstrap-table/1.12.2/dist/bootstrap-table.js}"></script>
<script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js" th:src="@{/webjars/bootstrap-table/1.12.2/dist/extensions/treegrid/bootstrap-table-treegrid.js}"></script>
<script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery-treegrid/0.2.0/js/jquery.treegrid.js}"></script>
<script type="text/javascript">
    var $table = $('#table');
    var data = JSON.parse('[{"id":1,"pid":0,"type":"所需参数","name":"参数名","des":""}]');


    function refreshTable(data){
        $table.bootstrapTable({
            data:data,
            idField: 'id',
            dataType:'jsonp',
            columns: [
                // { field: 'check',  checkbox: true, formatter: function (value, row, index) {
                //         if (row.check == true) {
                //             // console.log(row.serverName);
                //             //设置选中
                //             return {  checked: true };
                //         }
                //     }
                // },
                { field: 'id',  title: '序号' },
                { field: 'name',  title: '参数名称' },
                // {field: 'id', title: '编号', sortable: true, align: 'center'},
                // {field: 'pid', title: '所属上级'},
                { field: 'type',  title: '参数类型', sortable: true,  align: 'center', formatter: 'statusFormatter'  },
                { field: 'des', title: '描述'  },
                { field: 'operate', title: '操作', align: 'center', events : operateEvents, formatter: 'operateFormatter' },
            ],

            // bootstrap-table-treegrid.js 插件配置 -- start

            //在哪一列展开树形
            treeShowField: 'name',
            //指定父id列
            parentIdField: 'pid',

            onResetView: function(data) {
                //console.log('load');
                $table.treegrid({
                    //initialState: 'collapsed',// 所有节点都折叠
                    initialState: 'expanded',// 所有节点都展开，默认展开
                    treeColumn: 1,
                    // expanderExpandedClass: 'glyphicon glyphicon-minus',  //图标样式
                    // expanderCollapsedClass: 'glyphicon glyphicon-plus',
                    onChange: function() {
                        $table.bootstrapTable('resetWidth');
                    }
                });

                //只展开树形的第一级节点
                //$table.treegrid('getRootNodes').treegrid('expand');

            },
            onCheck:function(row){
                var datas = $table.bootstrapTable('getData');
                // 勾选子类
                selectChilds(datas,row,"id","pid",true);

                // 勾选父类
                selectParentChecked(datas,row,"id","pid")

                // 刷新数据
                $table.bootstrapTable('load', datas);
            },

            onUncheck:function(row){
                var datas = $table.bootstrapTable('getData');
                selectChilds(datas,row,"id","pid",false);
                $table.bootstrapTable('load', datas);
            },
            // bootstrap-table-treetreegrid.js 插件配置 -- end
        });
    }

    $(function() {

        //控制台输出一下数据
        console.log(data);
        refreshTable(data);
        //再将第一行的数据删除掉
        del(1);

    });

    // 格式化按钮
    function operateFormatter(value, row, index) {
        return [
            '<button type="button" class="RoleOfadd btn-small btn-info" style="margin-right:15px;"><i class="fa fa-plus" ></i>新增参数</button>',
            '<button type="button" class="RoleOfedit btn-small btn-success" style="margin-right:15px;"><i class="fa fa-pencil-square-o" ></i>修改</button>',
            '<button type="button" class="RoleOfdelete btn-small btn-danger" style="margin-right:15px;"><i class="fa fa-trash-o" ></i>删除</button>'
        ].join('');

    }
    // 格式化类型
    function typeFormatter(value, row, index) {
        if (value === 'menu') {  return '菜单';  }
        if (value === 'button') {  return '按钮'; }
        if (value === 'api') {  return '接口'; }
        return '-';
    }
    // 格式化状态
    function statusFormatter(value, row, index) {
        // if (value === 1) {
        //     return '<span class="btn btn-primary">正常</span>';
        // } else {
        //     return '<span class="btn btn-primary">锁定</span>';
        // }
        return '<span class="btn btn-primary">' + value +'</span>';
    }

    //初始化操作按钮的方法
    window.operateEvents = {
        'click .RoleOfadd': function (e, value, row, index) {
            add(row.id);
        },
        'click .RoleOfdelete': function (e, value, row, index) {
            del(row.id);
        },
        'click .RoleOfedit': function (e, value, row, index) {
            update(row.id);
        }
    };
</script>
<script>
    /**
     * 选中父项时，同时选中子项
     * @param datas 所有的数据
     * @param row 当前数据
     * @param id id 字段名
     * @param pid 父id字段名
     */
    function selectChilds(datas,row,id,pid,checked) {
        for(var i in datas){
            if(datas[i][pid] == row[id]){
                datas[i].check=checked;
                selectChilds(datas,datas[i],id,pid,checked);
            };
        }
    }

    function selectParentChecked(datas,row,id,pid){
        for(var i in datas){
            if(datas[i][id] == row[pid]){
                datas[i].check=true;
                selectParentChecked(datas,datas[i],id,pid);
            };
        }
    }

    function test() {
        var selRows = $table.bootstrapTable("getSelections");
        if(selRows.length == 0){
            alert("请至少选择一行");
            return;
        }

        var postData = "";
        $.each(selRows,function(i) {
            postData +=  this.id;
            if (i < selRows.length - 1) {
                postData += "， ";
            }
        });
        alert("你选中行的 id 为："+postData);
    }

    var itemId = 1;
    function add(id) {
        //debugger;
        $("#parameterModal").modal("show");
        $("#pid").val(id);
    }


    $("#confirm").click(function(){
        var paramType = $("#paramType").val();
        if(paramType == null || paramType == ""){
            paramType = "String";
        }
        var paramName = $("#paramName").val();
        var paramDes = $("#paramDes").val();
        var pid = 0;
        var formPid = $("#pid").val();
        if(formPid != null && formPid != ""){
            pid = parseInt(formPid);
        }
        addTable(paramType, paramName, paramDes, pid);
        //关闭模态框，清空数据
        $("#parameterModal").modal("hide");
        document.getElementById("paramInfoForm").reset();
        $("#pid").val("")
    });

    //更新确认
    $("#parameterInfoUpdateConfirm").click(function(){
        debugger;
        var paramType = $("#paramTypeUpdate").val();
        if(paramType == null || paramType == ""){
            paramType = "String";
        }
        var paramName = $("#paramNameUpdate").val();
        var paramDes = $("#paramDesUpdate").val();
        var pid = parseInt($("#pidUpdate").val());
        var id = parseInt($("#idUpdate").val());
        var json = {"id":id, "pid":pid, "type":paramType, "name":paramName, "des":paramDes};
        $('#table').bootstrapTable('updateRow', {index: id-1, row: json});
        //或者
        //$("#table").bootstrapTable('updateRow', {field: 'id', values: id});


        //关闭模态框
        $("#parameterModalUpdate").modal("hide");
    });

    function addTable(paramType, paramName, paramDes, pid){
        var json = {"id":itemId, "pid":pid, "type":paramType, "name":paramName, "des":paramDes};
        itemId += 1;
        $('#table').bootstrapTable('append',json);
    }


    function del(id) {
        debugger;
        // alert("del 方法 , id = " + id);
        // var ids=new Array();
        // ids.push(data.id);
        //原理是parseInt https://blog.csdn.net/u014525494/article/details/54880900?depth_1-utm_source=distribute.pc_relevant.none-task-blog-BlogCommendFromBaidu-4&utm_source=distribute.pc_relevant.none-task-blog-BlogCommendFromBaidu-4
        $("#table").bootstrapTable('remove', {field: 'id', values: [parseInt(id)]});
    }
    function update(id) {
        //alert("update 方法 , id = " + id);
        debugger;
        var rows = $('#table').bootstrapTable('getData');
        //由于数据不是很多，使用笨一些的办法
        for(var i=0; i<rows.length; i++){
            if(rows[i].id == id){
                var paramType = rows[i].type;
                var paramName = rows[i].name;
                var paramDes = rows[i].des;
                var pid = rows[i].pid;
                $("#paramTypeUpdate").val(paramType);
                $("#paramNameUpdate").val(paramName);
                $("#paramDesUpdate").val(paramDes);
                $("#pidUpdate").val(pid);
                $("#idUpdate").val(id);
                $("#parameterModalUpdate").modal("show");

            }
        }
        //$('#table').bootstrapTable('updateRow', {index: index, row: data});
        //或者
        //$("#table").bootstrapTable('updateRow', {field: 'id', values: id});
    }


    function addParameter(){
        $("#parameterModal").modal("show");
    }

</script>
</html>